@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
.linebreak {
  color: rgb(107, 107, 107);
}
* {
  font-family: "Readex Pro", sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.box-container {
  width: 55%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.introduction-container {
  margin-top: 96px;
  text-align: start;
  border: solid 1px rgb(107, 107, 107);
  border-radius: 15px;
}

/*----------- Introduction Box ----------*/
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.introduction-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  width: 100%;
  text-align: start;
}

.profile {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.photo {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 2px solid rgb(99, 99, 99, 0.2);
  cursor: pointer;
  transition: transform 0.3s;
  transition: filter 0.2s;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.photo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem rgb(173, 162, 166));
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-top: -10px;
}

.name-text {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.profile-text {
  margin-top: 10px;
}
.profile-bio {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.profile-bio-email {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}
.socials-box {
  display: flex;

  align-items: center;
  padding: 40px;

  gap: 0.5rem;
}

.socials-box {
  gap: 0.5rem;
}

.svg {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(12%) saturate(796%) hue-rotate(219deg)
    brightness(110%) contrast(100%);
}

.svg:hover {
  filter: invert(79%) sepia(41%) saturate(5%) hue-rotate(8deg) brightness(95%)
    contrast(89%);
}

/*----------- Overlay ----------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
}
/*----------- Card Container ----------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
  margin-top: 30px;
  padding: 20px;
  gap: 5rem;
  padding-bottom: 0;
}

/*----------- Card Content ----------*/
.message-card {
  width: 100%;
  height: 25vh;
  border: solid 1px rgb(107, 107, 107);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.message-card:hover {
  transform: scale(1.1);
}
.card-photo-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-photo {
  width: 100%;
  height: 300px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.card-content {
  text-align: start;
  display: flex;
  flex-direction: column;

  padding: 15px 25px;
  padding-top: 0px;
}

/*----------- Card Text ----------*/

.card-title-text {
  font-size: 16px;
  font-weight: 600;
}

.card-title-text-info {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: -15px;
}

.card-description {
  margin-top: 10px;
}
.card-description-text {
  font-size: 10px;

  margin: 0;
}

/*----------- Enlarged photo ----------*/

.enlarged-photo {
  width: 400px;

  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

@media (max-width: 1524px) {
  .card-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1;
  }
  .message-card {
    min-height: 300px;
    height: 100%;
    margin-top: -30px;
    gap: 2px;
  }
  .container {
    overflow: scroll;
    height: calc(100vh - 20px);
  }
  .card-photo {
    height: 100px;
    border-radius: 25px;
    object-fit: cover;
  }
  .introduction-container {
    overflow: hidden;
  }

  .card-description-text {
    margin-bottom: 30px;
  }
}

/*----------- Error Page ----------*/

.error-page-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.error-container {
  width: 30%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.back-home-button {
  color: rgb(0, 0, 0);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
