@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: black;
  width: 100%;
}
.linebreak {
  color: rgb(107, 107, 107);
}
* {
  font-family: "Readex Pro", sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  overflow: scroll;
  height: 100vh;
}

.box-container {
  width: 55%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  opacity: 0;
  animation: fade-in-content 1s ease-in 1.75s forwards;
}

.introduction-container {
  text-align: start;
  border: solid 1px rgb(107, 107, 107);
  border-radius: 15px;
}

/*----------- Introduction Box ----------*/
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.introduction-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  width: 100%;
  text-align: start;
}

.profile {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.photo {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 2px solid rgb(99, 99, 99, 0.2);
  cursor: pointer;
  transition: transform 0.3s;
  transition: filter 0.2s;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.photo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem rgb(173, 162, 166));
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-top: -10px;
}

.name-text {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.profile-text {
  margin-top: 10px;
}
.profile-bio {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.profile-bio-email {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}
.socials-box {
  display: flex;

  align-items: center;
  padding: 40px;

  gap: 0.5rem;
}

.socials-box {
  gap: 0.5rem;
}

.svg {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(12%) saturate(796%) hue-rotate(219deg)
    brightness(110%) contrast(100%);
}

.svg:hover {
  filter: invert(79%) sepia(41%) saturate(5%) hue-rotate(8deg) brightness(95%)
    contrast(89%);
}

/*----------- Overlay ----------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
}
/*----------- Card Container ----------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;

  padding: 40px;
  gap: 3rem;
  padding-bottom: 0;
}

/*----------- Card Content ----------*/
.message-card {
  width: 100%;
  height: 25vh;
  border: solid 1px rgb(107, 107, 107);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.message-card:hover {
  transform: scale(1.1);
}
.card-photo-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-photo {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  object-position: center;
}

.card-content {
  text-align: start;
  display: flex;
  flex-direction: column;

  padding: 15px 25px;
  padding-top: 0px;
}

/*----------- Card Text ----------*/
.card-year {
  font-size: 0.9rem;
  color: #666;
}
.card-title-text {
  font-size: 16px;
  font-weight: 600;
}

.card-title-text-info {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: -15px;
}

.card-description {
  margin-top: 10px;
}
.card-description-text {
  font-size: 10px;

  margin: 0;
}

/*----------- Enlarged photo ----------*/

.enlarged-photo {
  width: 500px;

  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/*----------- Error Page ----------*/

.error-page-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.error-container {
  width: 30%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.back-home-button {
  color: rgb(0, 0, 0);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

/*----------- NAV ----------*/
.header {
  width: 55%;
  height: 7vh;
  border: 0.5px solid black;
  border-left: 0;
  border-right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  z-index: 1;
}

nav {
  width: 100%;
  z-index: 1;
  display: flex;
  height: 7vh;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
nav .logo-container {
  margin: 15px;
  margin-top: 0;
  margin-bottom: 0;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  z-index: 1;
  opacity: 0;
  animation: fade-in-content 3s ease-in 1.75s forwards;
}
.logo-container-learn {
  display: flex;
  justify-content: center;
}
.logo-container-support {
  display: flex;
  justify-content: center;
}
nav .logo-container-product-button,
.logo-container-learn,
.logo-container-safety-button,
.logo-container-support,
.logo-container-download {
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-right: -25px;
}

nav .logo-container-learn:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}
nav .logo-container-support:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}

/*----------- NAV ----------*/
.loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: 1000;
  animation: fade-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-delay: 1.25s;
}
.loadingVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}
.name-intro {
  animation: fade-in-name 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
@keyframes fade-in-name {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .header {
    opacity: 0;
  }
  .name-intro {
    font-size: 2em;
  }
}
@media (max-width: 1324px) {
  .card-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1;
    height: auto;
    padding: 10px 10px 0;
    gap: 1em;
  }

  .message-card {
    min-height: 150px;
    height: 20em;
    max-height: 350px;
    margin-top: 10px;

    padding: 0;
  }
  .container {
    overflow: scroll;
    height: calc(100vh - 20px);
  }
  .card-photo {
    object-fit: cover;
    height: auto;
  }
  .introduction-container {
    overflow: hidden;
  }

  .card-description-text {
    margin-bottom: 30px;
  }

  .card-photo-container {
    padding: 0;
  }
}
